#project-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  padding: clamp(50px, 10vh, 100px) 5dvw;
  height: 100%;
  & app-list {
    width: clamp(400px, 100%, 1000px);
  }
}
