<div id="project-wrapper">
  <div class="projectInfos">
    <div>
      <span>{{ allProjects[0]?.name }}</span>
      <span
        *ngIf="allProjects[0].description"
        class="projectInfosDescription"
        >{{ allProjects[0]?.description }}</span
      >

      <span *ngIf="allProjects[0].enddate"
        >Se termine le {{ allProjects[0]?.enddate }}</span
      >
    </div>
    <div>
      Membres :
      <span *ngFor="let member of allProjects[0]?.listMembreDTO">{{
        member.id
      }}</span>
      <span *ngFor="let member of allProjects[0]?.listMembreDTO">{{
        member.id
      }}</span>
      <span *ngFor="let member of allProjects[0]?.listMembreDTO">{{
        member.id
      }}</span>
      <span *ngFor="let member of allProjects[0]?.listMembreDTO">{{
        member.id
      }}</span>
    </div>
  </div>
  <app-list></app-list>
</div>
