<div id="project-wrapper">
  <div class="projectInfos">
    <div>
      <span>{{ currentProject.name }}</span>
      <!--    <span class="projectInfosDescription">{{
        allProjects[0]?.description
      }}</span> -->
      <span class="projectInfosDescription"
        > {{ currentProject.description }} </span
      >
      <span>Se termine le {{ currentProject.enddate }}</span>
    </div>
    <div>
      Membres :
      <span *ngFor="let member of currentProject.listMembreDTO">{{
        member.id
      }}</span>
    </div>
  </div>
  <app-list></app-list>
</div>
