<div class="container">
    <div class="form-page">
        <div class="form-img">
            <img src="./assets/img/loginVer2.svg" alt="">
        </div>
        <div class="form">
            <h2>Se Connecter</h2>
            <form #fLogin="ngForm" (ngSubmit)="onSubmit()">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" [(ngModel)]="email" placeholder="Email" required>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" [(ngModel)]="password" placeholder="Password" required>
                <button >Se Connecter</button>
            </form>
        </div>
    </div>


</div>