<h1 class="section-title text-center page-title">Meet our team</h1>
<p class="section-description text-center">We are a small team with great skills. See the faces behind the lines of code.</p>

<div class="row member-content justify-content-center">
    <div class="col-lg-2 col-md-6 col-sm-12 member-thumb fade-right in">
        <div class="p-3">
            <img class="img-fluid rounded-circle" src="./assets/img/M.svg" alt="">
        </div>
        <h4 class="mt-3 rounded-circle">Margad GANTUYA</h4>
        <p class="title">Developer Front-End</p>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 member-thumb">
        <div class="p-3">
            <img class="img-fluid rounded-circle" src="./assets/img/V.svg" alt="">
        </div>
        <h4 class="mt-3">Vincent MOCHEL</h4>
        <p class="title">Developer Back-End</p>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 member-thumb">
        <div class="p-3">
            <img class="img-fluid rounded-circle" src="./assets/img/dorian.svg" alt="">
        </div>
        <h4 class="mt-3">Dorian GARCIA</h4>
        <p class="title">Developer Front-End</p>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 member-thumb">
        <div class="p-3">
            <img class="img-fluid rounded-circle" src="./assets/img/fred.svg" alt="">
        </div>
        <h4 class="mt-3">Fred MARSANNE</h4>
        <p class="title">Pastries Supplier</p>
    </div>
</div>