<div class="container">
    <div class="form-page">
        <div class="form-img">
            <img src="./assets/img/signup.svg" alt="">
        </div>
        <div class="form">
            <h2>Inscription</h2>
            <form #fSignup="ngForm" (ngSubmit)="onSubmit()">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" [(ngModel)]="email" placeholder="Email" required>
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" [(ngModel)]="password" placeholder="Password" required>
                <label for="confirm-password">Confirmez mot de passe</label>
                <input type="password" name="confirm-password" [(ngModel)]="confirmPassword" id="confirm-password" placeholder="Password" required>
                <button >S'inscrire</button>
            </form>
            <div class="mb-3 row">
                <div class="col-sm-10 offset-sm-2">
                    <p *ngIf="msgError" class="text-danger">{{msgError}}</p>
                </div>
            </div>
        </div>
    </div>


</div>