$primary: green;
$secondary: lightgreen;
$tertiary: darkgreen;

$blue: rgb(84, 66, 201);

$ctaRed: rgb(222, 37, 37);
$ctaGrey: grey;
$ctaGreen: green;
$ctaNeutral: white;

$navWidth: clamp(200px, 15vw, 15vw);
